<!DOCTYPE html>

<html>

<body>
    <div class="main-content">
        {{>header}}

        <p>Use this site to get your weather!</p>

        <form>
            <input placeholder="Location">
            <button>Search</button>
        </form>
    </div>

</body>
<script src="/express/src/app.js"></script>
</html>